<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Monofett|Muli|Oxygen|Srisakdi|Questrial" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type="text/css" href="./assets/css/about.css">
    <title>MERGE - About Us</title>
</head>

<body>

    <div id='leftCol'>
        <p>Depending on your vehicle and driving patterns, the total cost of ownership and use can range from
            approximately
            $0.50 a mile to over $100 per mile. For people with a longer than average commute (e.g. more than 12
            miles),
            commuting 250 days per year, the potential savings for a two-person carpool could exceed $1,500 annually.
            This
            does not include any savings in parking costs or toll fees.</p>
        <p>Here in the Bay Area, we all have somewhere to go. The world is a busy place, and our job is to stay
            progressive by coming up with new, innovative technologies to help keep our cities functioning smoothly,
            with
            as little crime, inconvenience, and environmental negligence as possible. As the SF/Bay Area becomes wildly
            more populated, we are forced to make adjustments in our daily lives if we want to protect our environment.
            The
            issue of crowding grows more and more urgent. As a small start up company, there isn’t much we can offer in
            terms of uplifting Oakland or the Bay Area, preserving these cities, fighting to keep our streets safe or
            our
            politicians just. We may not be able to solve universal peace or end world hunger. However, I do believe we
            have a remedy to just one of the many issues of an overcrowded community: Traffic, and the pollution that
            comes
            with it.</p>
        <p>Cars burn gasoline and emit carbon dioxide and other greenhouse gases, which contribute to one-fifth of the
            United States’ total global warming pollution. Greenhouse gases trap heat in the atmosphere, which causes
            worldwide temperatures to rise. Commute hours in the Bay Area have become reminiscent of a colony of ants,
            running around frantically in a time crunch with no sense of accountability and no regard for others or for
            Mother Earth. Imagine the progress to be made if we, as a community, made a conscious effort to work
            together.
            What if, rather than fighting the traffic beside you to see who can reach the light first, we share a ride,
            cutting traffic in half, and reach it together?</p>
        <p><img src='https://i.imgur.com/sTRu9yu.png' id='aboutLogo'>MERGE is an app that allows users to make a
            difference in their everyday lives, and the lives of their
            community. We are taking steps to preserve the world for generations to come. Choosing to carpool with your
            neighbor will make your carbon footprint smaller and cut travel costs in half. Together, we can reduce the
            amount of traffic on our roads, save time during commute hours (hello diamond lane!), reduce gasoline costs
            and
            consumption, and lower harmful emissions to help save our planet. Whether you want to make your passenger
            seat
            available to someone who shares your destination, or hitch a ride with another commuter, you will be making
            a
            huge difference. Every ride shared means one less car on the road, and one less car emitting harmful gases
            into
            the air. Who will drive? Who pays for gas? At MERGE, we trust that you can work out the details with your
            commute buddies. We will never ask for your credit card or personal information. Our goal is not to make a
            profit. Our only goal is to merge the community together and achieve an eco-friendly, sustainable way of
            life
            for all!</p>
        <p><span id='mergetogether'>Let’s merge together!</span><br>
            <span id='lastline'><span id='signature'>-Alyssa Geoffray,</span> founder of MERGE</span>
        </p>

    </div>





    <div id="rightCol">




        <h3>Questions or comments? Write to us! <img src='https://i.imgur.com/sSRmbLe.png' id='quill'></h3>

        <div class="container" id='contactContainer'>
            <form action="mailto:AlyssaGeoffray@gmail.com" method="POST">
                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="First, Last...">

                <label for="lname">Location</label>
                <input type="text" id="lname" name="lastname" placeholder="City, State...">

                {{!-- <label for="country">Country</label>
                <select id="country" name="country">
                    <option value="usa" id='usaoption'>USA</option>
                    <option value="canada" id='canadaoption'>Canada</option>
                    <br>
                    <option value='angola'>Angola</option>
                    <option value='argentina'>Argentina</option>
                    <option value='australia'>Australia</option>
                    <option value='austria'>Austria</option>
                    <option value='belgium'>Belgium</option>
                    <option value='belarus'>Belarus</option>
                    <option value='belize'>Belize</option>
                    <option value='bolivia'>Bolivia</option>
                    <option value='brazil'>Brazil</option>
                    <option value='bulgaria'>Bulgaria</option>
                    <option value="cambodia">Cambodia</option>
                    <option value='chile'>Chile</option>
                    <option value='centralafricanrepublic'>Central African Republic</option>
                    <option value='columbia'>Colombia</option>
                    <option value='costarica'>Costa Rica</option>
                    <option value='capeverde'>Cape Verde</option>
                    <option value='czeckrepublic'>Czech Republic</option>
                    <option value='cyprus'>Cyprus</option>
                    <option value='china'>China</option>
                    <option value='crotia'>Crotia</option>
                    <option value='denmark'>Denmark</option>
                    <option value='egypt'>Egypt</option>
                    <option value='finland'>Finland</option>
                    <option value='france'>France</option>
                    <option value='frenchguiana'>French Guiana</option>
                    <option value='germany'>Germany</option>
                    <option value='greece'>Greece</option>
                    <option value='hungary'>Hungary</option>
                    <option value='india'>India</option>
                    <option value='italy'>Italy</option>
                    <option value='japan'>Japan</option>
                    <option value='kenya'>Kenya</option>
                    <option value='laos'>Laos</option>
                    <option value='macedonia'>Macedonia (FYROM)</option>
                    <option value='malaysia'>Malaysia</option>
                    <option value="australia">Mexico</option>
                    <option value='morocco'>Morocco</option>
                    <option value='netherlands'>Netherlands</option>
                    <option value='nigeria'>Nigeria</option>
                    <option value='norway'>Norway</option>
                    <option value='paraguay'>Paraguay</option>
                    <option value='peru'>Peru</option>
                    <option value='philippines'>Philippines</option>
                    <option value='poland'>Poland</option>
                    <option value='romania'>Romania</option>
                    <option value="russia">Russia</option>
                    <option value='serbia'>Serbia</option>
                    <option value='suriname'>Suriname</option>
                    <option value='singapore'>Singapore</option>
                    <option value='spain'>Spain</option>
                    <option value='southafrica'>South Africa</option>
                    <option value='southkorea'>South Korea</option>
                    <option value='srilanka'>Sri Lanka</option>
                    <option value='swaziland'>Swaziland</option>
                    <option value='sweeden'>Sweeden</option>
                    <option value='switzerland'>Switzerland</option>
                    <option value='thailand'>Thailand</option>
                    <option value='ukraine'>Ukraine</option>
                    <option value='uk'>United Kingdom</option>
                    <option value='uruguay'>Uruguay</option>
                    <option value='vaticancity'>Vatican City</option>
                    <option value='venezuela'>Venezuela</option>
                    <option value='zambia'>Zambia</option>
                    <option value='other'>Other</option>

                </select> --}}

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="What's on your mind?" style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>

        </div>
    </div>



</body>

</html>